:root {
    --primary-light: #f5f5f5;
    --secondary-blue-light: #043049;
    --secondary-blue-dark: #032a42;
    --accent-color: #ff5a5f;
    --accent-color-2: #42b983;
    --primary-dark: #021927;
    --secondary-dark: #232323;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
