:root {
    --color-bg: #043049;
    --color-surface: #032a42;
    --color-text: #f5f5f5;
    --color-accent: #ff5a5f;
    --color-accent-2: #42b983;
    --color-on-accent: #021927;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    @apply flex flex-wrap justify-center gap-4;
}
